# Data Science tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists 
- Data Science Tools
- arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:

- Python
- c++
- java

#### Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplotlib

#### Data Science Tools

|relationale Datenbanken|NoSqlDatenbanken|Dateibasierte Tools|
|-----------------------|----------------|-------------------|
|Mysql                  |MongoDB         |Hadoop-Dateisystem |
|Postgresql             |Apache CouchDB  |Ceph               |

#### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Autor solaiman karroumi